[bumpversion]
current_version = 7.1.0
commit = True
tag = False
message = bump dev version to {new_version}

[bumpversion:file:main.go]
search = version = "{current_version}-dev"
replace = version = "{new_version}-dev"
